<div id="mainclickbtn">
  <center>
    <div class="de elBTN elAlign_center elMargin0 ui-droppable de-editable" style="outline: none; cursor: pointer; font-family: Montserrat, Helvetica, sans-serif !important;" aria-disabled="false" data-element-theme="customized"
      data-google-font="Montserrat" data-elbuttontype="1">
      <a id="popupbutton" data-toggle="modal" data-modal="#{POSTID}" data-target="#{POSTID}"
        class="elButton elButtonSize1 elButtonColor1 elButtonPadding2 elBtnVP_10 elButtonCorner3 elButtonFluid elButtonTxtColor1 elBTN_b_none elButtonShadowFlatHighlight elButtonNoShadow elBtnHP_40 mfs_20"
        style="margin: auto; cursor: pointer; color: {tag_btn_buttonfontcolor}; background: {tag_btn_buttontempbgcolor}; font-size: 22px;" rel="noopener noreferrer"><span class="elButtonMain" id="btnmainlbl">{tag_btn_uebersch}</span><span
          id="buttonlblsubtext" class="elButtonSub mfs_14" style="font-size: 16px;">{tag_btn_unteruebersch}</span>
        </a>
      </div>
  </center>
  <br>
</div>